/** img 경로*/
$STATIC_IMG_PATH: '/img';

/** 최소 화면 사이즈 */
$PAGE_MIN_WIDTH: 1168px;

/* 글로벌 header height */
$HEADER_HEIGHT: 54px;

/** Gray Scale */
$C_White: #ffffff;
$C_Gray10: #f8f8f8;
$C_Gray20: #e7e7e7;
$C_Gray30: #cfcfcf;
$C_Gray40: #888888;
$C_Gray50: #3e3e3e;
$C_Black: #000000;

/** Color */
$C_Red10: #ffefea;
$C_Red20: #ff480d;
$C_Red30: #e40000;

$C_Blue: #0085ff;
$C_Green: #00c142;

/** font-size */
$FS_Ss: 12px;
$FS_Sm: 14px;
$FS_Sl: 15px;
$FS_Ms: 16px;
$FS_Mm: 20px;
$FS_Ml: 24px;
$FS_ls: 36px;

/** font-weight */
$Fw_Sm: 600;
$Fw_Md: 700;
