@import '@styles/mixins.scss';

.layer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginModal{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $C_Gray20;
  padding: 40px;
  border-radius: 10px;
}

.loginBtn{
  width:100%;
}

.joinLink{
  width: 100%;
  display: block;
  margin-top: 20px;

  .joinBtn{
    width: 100%;
  }
}